@import url("https://fonts.googleapis.com/css?family=Droid+Sans");
* {
  margin: 0;
  padding: 0;
}

html, body {
  font-family: "Droid Sans", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 640px;
  background: #A51E01 url(../img/3.jpg);
  background-position: top center;
  background-size: cover;
}

header, footer, .about_us {
  background: #f79850;
  background: gradient(left top, left bottom, color-stop(0%, #f79850), color-stop(27%, #f79850), color-stop(91%, #ffb152), color-stop(100%, #ffb152));
  background: -webkit-gradient(linear, left top, left bottom, from(#f79850), color-stop(27%, #f79850), color-stop(91%, #ffb152), to(#ffb152));
  background: -webkit-linear-gradient(top, #f79850 0%, #f79850 27%, #ffb152 91%, #ffb152 100%);
  background: linear-gradient(top, #f79850 0%, #f79850 27%, #ffb152 91%, #ffb152 100%);
  border: solid #F58300 1px;
  opacity: 0.6;
  position: relative;
}

.logo_text {
  margin-top: -24px;
}

.menu {
  text-align: right;
}

.menu ul {
  padding-top: 22px;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
}

.menu ul li {
  display: inline-block;
  margin: -3px;
}

.menu ul li a {
  text-decoration: none;
  padding: 34px 20px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  color: #2B1100;
  line-height: 52px;
}

.menu a:hover {
  color: #F58300;
  background-color: #2B1100;
  padding: 34px 20px;
}

.language {
  padding-left: 50px;
  padding-top: 26px;
}

.language ul {
  list-style: none;
}

.language ul li {
  display: inline-block;
  padding-left: 8px;
  line-height: 40px;
}

.language ul li a {
  color: #2B1100;
  text-decoration: none;
}

.language a:hover {
  color: #F58300;
}

@media screen and (max-width: 1200px) {
  .menu {
    text-align: left;
  }
}

@media screen and (max-width: 993px) {
  .menu ul {
    font-size: 14px;
  }
  .menu ul li a {
    padding: 37px 12px;
  }
  .menu a:hover {
    padding: 37px 12px;
  }
  .language {
    padding-left: 0;
  }
  .language ul {
    font-size: 15px;
  }
}

@media screen and (max-width: 767px) {
  .main_logo {
    margin: 0 auto;
  }
  .logo_text {
    text-align: center;
  }
  .menu ul li a {
    padding: 32px 15px;
  }
  .menu a:hover {
    padding: 32px 15px;
  }
}

@media screen and (max-width: 600px) {
  header {
    z-index: 1;
    max-height: 170px;
    position: relative;
  }
  .menu {
    z-index: 2;
    min-height: 0px;
    margin: 0 auto;
  }
  .menu ul {
    width: 100%;
    padding: 5px 0;
    top: 0;
    left: 0;
    border: solid 1px #aaa;
    background: #FAFAFA url(../img/icon-menu.png) no-repeat 25px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }
  .menu ul li {
    display: none;
    margin: 0;
  }
  .menu ul li a {
    display: block;
    padding: 5px;
    text-align: center;
    padding: 0;
  }
  .menu .current {
    display: block;
  }
  .menu .current a {
    background: none;
    color: #666;
  }
  .language {
    display: none;
  }
  .menu a:hover {
    padding: 0;
  }
  .menu ul:hover {
    background-image: none;
  }
  .menu ul:hover li {
    display: block;
    margin: 0;
  }
  .menu ul:hover .current {
    background: url(../img/icon-check.png) no-repeat 25px;
  }
  .menu a:hover {
    padding: 0px 15px;
  }
}

.about_us {
  margin: 50px 20px;
  font-weight: bold;
  -webkit-border-radius: 18px;
          border-radius: 18px;
  text-align: justify;
}

.about_us .left_block {
  margin: 10px;
}

.about_us .left_block .left_information p {
  text-indent: 15px;
  margin-bottom: -20px;
}

.about_us .left_block .left_information p:last-child {
  margin-bottom: 0px;
}

.footer-left, .footer-right {
  text-align: center;
  padding: 20px 0;
}

.footer-left {
  font-size: 15px;
  line-height: 45px;
  font-weight: bold;
}

.footer-right div {
  position: relative;
  display: inline-block;
  margin: 0 25px;
}

.footer-right div a {
  color: #2B1100;
  font-size: 30px;
}

.footer-right div a i {
  font-weight: bold;
}

.footer-right div:hover {
  bottom: 2px;
}
